/*сброс стилей*/

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[menu__li],
ol[menu__li] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[menu__li],
ol[menu__li],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[menu__li],
ol[menu__li] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*сброс стилей*/
body{
	background-color: #f4f6ff;
	overflow-x: hidden;
}



.container {
	width: 95%;
	margin: 0 auto;
}

  header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(19,14,135,1);
    background: -moz-linear-gradient(top, rgba(19,14,135,1) 0%, rgba(104,187,153,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,14,135,1)), color-stop(100%, rgba(104,187,153,0)));
    background: -webkit-linear-gradient(top, rgba(19,14,135,1) 0%, rgba(104,187,153,0) 100%);
    background: -o-linear-gradient(top, rgba(19,14,135,1) 0%, rgba(104,187,153,0) 100%);
    background: -ms-linear-gradient(top, rgba(19,14,135,1) 0%, rgba(104,187,153,0) 100%);
    background: linear-gradient(to bottom, rgba(19,14,135,1) 0%, rgba(104,187,153,0) 100%);
}
section a {
	text-decoration: none;
	display: block;
}

.flex{
	width: 100%;
	    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.logo {
	width: 64px;
	height: 63px;
	background-image: url(../img/logo.svg);
	background-repeat: no-repeat;
	float: left;
	z-index: 10;
}
.menu {
	margin-left: auto;
	padding-left: 49px;
	padding-right: 49px;
	z-index: 10;

}
.menu__ui {
	display: flex;
	width: 444px;
	justify-content: space-between;
}
.menu__li {
	list-style-type: none;

opacity: 0.85;
font-family: Roboto;
font-size: 15px;
line-height: 25px;
font-weight: 700;
letter-spacing: 0.08em;
color: #ffffff;
}

.menu__ui a{
	text-decoration: none;
}

.top-btn {
/*opacity: 0.85;
*/font-family: Roboto;
font-size: 15px;
line-height: 25px;
font-weight: 700;
letter-spacing: 0.08em;
color: #930abb;

	width: 140px;
height: 45px;
border: none;
background-color: #ffffff;
border-radius: 22.5px;
cursor: pointer;
z-index: 10;

-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.top-btn:hover {
	background-color: #af38d6;
	color: #ffffff;
}


main{

	overflow: hidden;
    position: relative;
    top: -81px;
/*    z-index: -1;
*/

/*    background-image: url(../img/лендинг/градиент.png);
*/    


width: 100%;
    height: 620px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.gradient {
    
 margin-left: 19vw;
    background-size: 200px 200px;
    position: absolute;
    top: -315px;
    left: -522px;
    z-index: -100;
    width: 3000px;
    height: 608px;
    background: rgba(19,14,135,1);
    background: -moz-linear-gradient(170deg, rgba(19,14,135,1) 0%, rgba(103,187,153,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(19,14,135,1)), color-stop(100%, rgba(103,187,153,1)));
    background: -webkit-linear-gradient(170deg, rgba(19,14,135,1) 0%, rgba(103,187,153,1) 100%);
    background: -o-linear-gradient(170deg, rgba(19,14,135,1) 0%, rgba(103,187,153,1) 100%);
    background: -ms-linear-gradient(170deg, rgba(19,14,135,1) 0%, rgba(103,187,153,1) 100%);
    background: linear-gradient(170deg, rgba(19,14,135,1) 0%, rgba(103,187,153,1) 100%);
    border-radius: 47% 49% 0% 7% / 0% 0% 47% 13%;
    -webkit-transform: scale(1) translateX(-2px) translateY(-12px) skewX(45deg) skewY(-13deg);
    -moz-transform: scale(1) translateX(-2px) translateY(-12px) skewX(45deg) skewY(-13deg);
    -ms-transform: scale(1) translateX(-2px) translateY(-12px) skewX(45deg) skewY(-13deg);
    -o-transform: scale(1) translateX(-2px) translateY(-12px) skewX(45deg) skewY(-13deg);
    transform: scale(1) translateX(-2px) translateY(-12px) skewX(45deg) skewY(-13deg);
/*    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;*/
}

.annotation {
	display: flex;
	flex-wrap: wrap;
}
.annotation__box{
    position: relative;
    margin-left: 19vw;
    padding-top: 69px;
    z-index: 1;
}
.gif{
    position: absolute;
    top: -70px;
    left: 53vw;
        z-index: 0;
    background-image: url(../img/лендинг/gif.png);
    width: 1059px;
    height: 581px;
    background-repeat: no-repeat;
}

.annotation__h1 {


padding-bottom: 47px;

font-family: Ubuntu;
font-size: 72px;
line-height: 1.2;
font-weight: 500;
color: #ffffff;
}
.annotation__span {

display: block;
    width: 589px;

font-family: Roboto;
font-size: 26px;
line-height: 38px;
font-weight: 300;
color: #ffffff;

padding-bottom: 48px;
}
.annotation__btn {
	cursor: pointer;
	width: 313px;
height: 57px;
border-radius: 28.3px;
border: none;

font-family: Roboto;
font-size: 18.1px;
line-height: 31px;
font-weight: 700;
letter-spacing: 0.08em;
color: #ffffff;

background: rgba(175,56,214,1);
background: -moz-linear-gradient(left, rgba(175,56,214,1) 0%, rgba(175,56,214,1) 17%, rgba(146,10,186,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(175,56,214,1)), color-stop(17%, rgba(175,56,214,1)), color-stop(100%, rgba(146,10,186,1)));
background: -webkit-linear-gradient(left, rgba(175,56,214,1) 0%, rgba(175,56,214,1) 17%, rgba(146,10,186,1) 100%);
background: -o-linear-gradient(left, rgba(175,56,214,1) 0%, rgba(175,56,214,1) 17%, rgba(146,10,186,1) 100%);
background: -ms-linear-gradient(left, rgba(175,56,214,1) 0%, rgba(175,56,214,1) 17%, rgba(146,10,186,1) 100%);
background: linear-gradient(to right, rgba(175,56,214,1) 0%, rgba(175,56,214,1) 17%, rgba(146,10,186,1) 100%);


}
.btn__box-shadow{

	-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  	box-shadow: none;

}

.btn__box-shadow:hover {

 -webkit-box-shadow: 0px 2px 8px 8px rgba(19, 14, 135, 0.22);
-moz-box-shadow: 0px 2px 8px 8px rgba(19, 14, 135, 0.22);
-ms-box-shadow: 0px 2px 8px 8px rgba(19, 14, 135, 0.22);
-o-box-shadow: 0px 2px 8px 8px rgba(19, 14, 135, 0.22);
box-shadow: 0px 2px 8px 8px rgba(19, 14, 135, 0.22);



}

.container__info {
    margin: 0 auto 0;

    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 85%;
    max-width: 1212px;
    margin-bottom: 101px;


}
.info {
font-family: Ubuntu;
font-size: 36px;
/*line-height: 25px;
*/font-weight: 500;
/*letter-spacing: 0.08em;
*/color: #130e87;
margin: 0 auto 20px;
}
.info__span {
	padding: 0 222px;
	text-align: center;
font-family: Roboto;
font-size: 16px;
line-height: 25px;
font-weight: 400;
letter-spacing: 0.08em;
color: #130e87;
    margin: 0 auto 63px;
}
.item {

  	position: relative;

       margin-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 376px;
    height: 354px;
    background-color: #ffffff;
    border: 2.0px solid #b6c0fe;
    border-radius: 15.0px;

    font-family: roboto;



-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  	box-shadow: none;
}
.item:hover {

-webkit-box-shadow: 0px 2px 8px 8px rgba(97, 90, 97, 0.22);
-moz-box-shadow: 0px 2px 8px 8px rgba(97, 90, 97, 0.22);
-ms-box-shadow: 0px 2px 8px 8px rgba(97, 90, 97, 0.22);
-o-box-shadow: 0px 2px 8px 8px rgba(97, 90, 97, 0.22);
box-shadow: 0px 2px 8px 8px rgba(97, 90, 97, 0.22);



}





.item__bottom_box {
	width: 773px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.item_right {
	margin-right: 190px;
}
.item_left {
	margin-left: 190px;
}
.item__name {
	padding-top: 38px;
	padding-bottom: 40px;

font-size: 18px;
line-height: 25px;
/*font-weight: 500;
*/letter-spacing: 0.08em;
color: #5b73fe;
}
.icon {
	width: 134px;
	height: 121px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;

	    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon_1{
	background-image: url(../img/icon/01.png);
}
.icon_2{
	background-image: url(../img/icon/02.png);
}

.icon_3{
	background-image: url(../img/icon/03.png);
}

.icon_4{
	background-image: url(../img/icon/04.png);
}

.icon_5{
	background-image: url(../img/icon/05.png);
}

.icon_6{
	background-image: url(../img/icon/06.png);
}

.icon_7{
	background-image: url(../img/icon/07.png);
}

.icon_8{
	background-image: url(../img/icon/08.png);
}

.icon_9{
	background-image: url(../img/icon/09.png);
}

.icon_10{
	background-image: url(../img/icon/10.png);
}

.icon_11{
	background-image: url(../img/icon/11.png);
}

.icon_12{
	background-image: url(../img/icon/12.png);
}

.icon_13{
	background-image: url(../img/icon/13.png);
}

.icon_14{
	background-image: url(../img/icon/14.png);
}







.item_info {
	padding: 20px 20px;
font-size: 18px;
line-height: 1.2;
font-weight: 400;
letter-spacing: 0.025em;
color: #000099;
}
.item__btn {
	cursor: pointer;
position: absolute;
    bottom: -24px;
    left: 120px;

	width: 136px;
height: 47px;
background-color: #3d5afe;
border-radius: 8.0px;
border: none;

font-family: Ubuntu;
font-size: 18px;
line-height: 1.2;
font-weight: 400;
letter-spacing: 0.025em;
color: #ffffff;
}
.info_p {
	padding: 0px 253px 46px;
	text-align: center;
font-family: Roboto;
font-size: 16px;
line-height: 25px;
font-weight: 400;
letter-spacing: 0.08em;
color: #130e87;
}
.info__btn {
	cursor: pointer;

  width: 321px;
height: 59px;
border-radius: 29.0px;

    border: none;
    font-family: Roboto;
    font-size: 18.1px;
    line-height: 31px;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: #ffffff;
    background: rgba(175,56,214,1);
    background: -moz-linear-gradient(left, rgba(175,56,214,1) 0%, rgba(175,56,214,1) 17%, rgba(146,10,186,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(175,56,214,1)), color-stop(17%, rgba(175,56,214,1)), color-stop(100%, rgba(146,10,186,1)));
    background: -webkit-linear-gradient(left, rgba(175,56,214,1) 0%, rgba(175,56,214,1) 17%, rgba(146,10,186,1) 100%);
    background: -o-linear-gradient(left, rgba(175,56,214,1) 0%, rgba(175,56,214,1) 17%, rgba(146,10,186,1) 100%);
    background: -ms-linear-gradient(left, rgba(175,56,214,1) 0%, rgba(175,56,214,1) 17%, rgba(146,10,186,1) 100%);
    background: linear-gradient(to right, rgba(175,56,214,1) 0%, rgba(175,56,214,1) 17%, rgba(146,10,186,1) 100%);
}


.example {
	background-color: #e7f1fc;
	text-align: center;
	padding-bottom: 120px;
}
.example__h2 {
font-family: Ubuntu;
font-size: 36px;
line-height: 1.2;
font-weight: 500;
letter-spacing: 0.08em;
color: #390e87;
margin: 0 auto;
padding-top: 120px;
padding-bottom: 20px;
}
.example__span{
font-family: Roboto;
font-size: 16px;
line-height: 1.2;
font-weight: 400;
letter-spacing: 0.08em;
color: #390e87;
padding: 0 410px;
text-align: center;
display: block;
}
.carusel {
    max-width: 1385px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.carusel__item{
	position:relative;
}
.carusel__txt{
 display: block;
    background: #ffffffd1;
    border-radius: 0 0 25px 25px;
    font-family: roboto;
    position: absolute;
    padding: 10px 0;
    width: 100%;
    left: 0;
}

.carusel_btn{
	cursor: pointer;
	width: 100%;
background-color: #ffffff;
    border-radius: 5.0px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.08em;
    color: #010001;
    border: none;
    margin: 20px 0;
    padding: 20px 10px 20px 40px;
    text-align: left;
    background-image: url(../img/icon/go.png);
    background-position: 15px center;
    background-repeat: no-repeat;
}
.carusel_btn :hover {
	box-shadow: 0px 0px 49px 0px rgba(19,13,135,0.34);
	background-color: red;

}
.carusel__first-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.carusel__second-box {
max-width: 570px;
    max-height: 320px;
    min-width: 320px;
}
.carusel__second-box a{
display: block;
}


.owl-carousel .owl-item {
    height: 400px;
}

.example_img {
/*	height: 420px;
	width: 320px !important;*/
}


.carusel__third-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about {
padding-top: 120px;
	background-image: url(../img/icon/bg-circul.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #e7f1fc;
    text-align: center;
}
.about__h2{
font-family: Ubuntu;
font-size: 36px;
line-height: 1.2;
font-weight: 500;
letter-spacing: 0.08em;
color: #ffffff;
    width: 636px;
margin: 0 auto;
padding-bottom: 24px;

}
.about__span{
font-family: Roboto;
font-size: 16px;
line-height: 1.2;
font-weight: 400;
letter-spacing: 0.08em;
color: #ffffff;

}

.graph {
    max-width: 1070px;
    	margin: 0 auto;
/*padding-top: 240px;
*/padding-bottom: 130px;
    display: flex;
    justify-content: space-evenly;
}
.phone_icon{
    margin: 40px auto;
    background-image: url(../img/icon/телефон.png);
    width: 80px;
    height: 142px;

}
.graph__item {
		width: 162px;
height: 207px;
background-color: #ffffff !important;
border-radius: 14.0px;
padding: 0 12px;
}

.blue{
	color: #3d5afe;
	margin-top: 10px;
	background-color: #3d5afe;
}
.pink{
	color: #ff4081;
	margin-top: 40px;
}
.green{
	color: #00bfa5;
	margin-top: 0;
}
.orange{
	color: #ff8a65;
	margin-top: 38px;
}


.graph__item h3{
border-bottom: solid;
    text-align: start;
    padding-top: 18px;
    width: 100%;
    height: 65px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.08em;
}

.graph__item p{
	    padding: 10px 0 10px;
font-family: Roboto;
font-size: 40px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.08em;
}
.graph__item-img {
    width: 138px;
    height: 61px;
    background-color: #1a237e;
    border-radius: 10.0px;
    padding: 9px 10px 15px;
}
.graph__item-scale{
    height: 100%;
    border-radius: 14px;
    /* margin: auto; */
    /* margin-top: 10px; */
    /* padding: 10px 0; */
    background-image: url(../img/icon/metr.png);
    background-repeat: no-repeat;
    background-position: top;
-webkit-box-shadow: inset 10px 10px 60px -26px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 60px -26px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 60px -26px rgba(0,0,0,0.75);

}

footer {
	width: 100%;
height: 556px;
background-color: #001c31;
}

.subscribe {
	position: relative;
	top: 54px;
	width: 100%;
height: 201px;

background: rgba(209,61,89,1);
background: -moz-linear-gradient(left, rgba(209,61,89,1) 0%, rgba(97,11,122,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(209,61,89,1)), color-stop(100%, rgba(97,11,122,1)));
background: -webkit-linear-gradient(left, rgba(209,61,89,1) 0%, rgba(97,11,122,1) 100%);
background: -o-linear-gradient(left, rgba(209,61,89,1) 0%, rgba(97,11,122,1) 100%);
background: -ms-linear-gradient(left, rgba(209,61,89,1) 0%, rgba(97,11,122,1) 100%);
background: linear-gradient(to right, rgba(209,61,89,1) 0%, rgba(97,11,122,1) 100%);
margin-bottom: 70px;
}
.flex_subscribe{
display: flex;
    align-items: center;
    height: 100%;
    width: 1068px;
    width: 66vw;
    justify-content: space-between;
}
.subscribe__h2{
font-family: Roboto;
font-size: 24px;
line-height: 1.2;
font-weight: 300;
letter-spacing: 0.08em;
color: #ffffff;
padding-right: 20px;
}
.subscribe__bg{
background-image: url(../img/icon/sub-bg.png);
    min-width: 441px;
height: 132px;
position: relative;
/*    top: 32px;
*/}
.subscribe__mail {
    position: absolute;
    top: 39px;
    left: 32px;
	background-color: transparent;
    border: none;
    border-bottom: 2px solid #8194a3;
    width: 317px;
    height: 56px;
    opacity: 0.72;
    background-image: url(../img/icon/mail.png);
    background-repeat: no-repeat;
    background-position: 0 center;

font-family: Roboto;
font-size: 15px;
line-height: 1.2;
font-weight: 400;
letter-spacing: 0.08em;
color: #8093a2;

padding-left: 45px;

}

.subscribe__btn{
	cursor: pointer;
    position: absolute;
    top: 31px;
    left: 403px;
    width: 63px;
    height: 64px;
    border: none;
    border-radius: 47% 49% 50% 39% / 41% 43% 47% 46%;
    background: rgba(40,203,221,1);
    background: -moz-linear-gradient(-45deg, rgba(40,203,221,1) 0%, rgba(45,89,168,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(40,203,221,1)), color-stop(100%, rgba(45,89,168,1)));
    background: -webkit-linear-gradient(-45deg, rgba(40,203,221,1) 0%, rgba(45,89,168,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(40,203,221,1) 0%, rgba(45,89,168,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(40,203,221,1) 0%, rgba(45,89,168,1) 100%);
    background: linear-gradient(135deg, rgba(40,203,221,1) 0%, rgba(45,89,168,1) 100%);
    -webkit-box-shadow: 0px 0px 41px 20px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 41px 20px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 41px 20px rgba(0,0,0,0.29);

    -webkit-transition: all 0.1s ease-out;
-moz-transition: all 0.1s ease-out;
-ms-transition: all 0.1s ease-out;
-o-transition: all 0.1s ease-out;
transition: all 0.1s ease-out;
}

.subscribe__btn:hover {
	box-shadow: none;

}

.subscribe__btn_arrow{
    display: block;
    position: relative;
    left: 18px;
    background-image: url(../img/icon/arrow.png);
    width: 20px;
    height: 30px;
}

.flex_bottom{
	display: flex;
	justify-content: space-between;
}
.bottom_foot {
	padding-top: 45px;
    margin: 0 auto;

}
.bottom__box_1 {
	width: 203px;
	height: 105px;
}
.logo_bottom {
display: block;
    text-align: center;
    height: 63px;
    font-family: Michroma;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.1em;
    letter-spacing: 0.08em;
    color: #2d635d;
    text-decoration: none;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: contain;
    padding-left: 80px;
    padding-top: 18px;
}
.logo_bottom b {
	color: #224e71;
}
.social {
    display: flex;
    justify-content: space-between;
    width: 207px;
    margin-top: 20px;
}
.social a{
	display: block;
	width: 30px;
	height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.yt {
	background-image: url(../img/icon/youtube.png);
}
.tg {
	background-image: url(../img/icon/telegram.png);

}
.vk {
	background-image: url(../img/icon/vk.png);

}
.fb {
	background-image: url(../img/icon/facebook.png);

}
.inst {
		background-image: url(../img/icon/instagram.png);

}
.bottom__box_2 {
	width: 254px;
	height: 133px;
}
.bottom__box_2 span{
font-family: Roboto;
padding-bottom: 10px;
font-size: 16px;
line-height: 1.2;
font-weight: 500;
letter-spacing: 0.1em;
color: #e4e7eb;
background-image: url(../img/icon/bot_foot_line.png);
background-repeat: no-repeat;
background-position: 0 bottom;
}
.bottom__box_2 p{
font-family: Roboto;
font-size: 14px;
line-height: 22px;
font-weight: 400;
letter-spacing: 0.1em;
color: #e4e7eb;
padding-top: 50px;
}

.bottom__box_3 {
	width: 76px;
	height: 192px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.bottom__box_3 span{
	    height: 29px;
font-family: Roboto;
padding-bottom: 10px;
font-size: 16px;
line-height: 1.2;
font-weight: 500;
letter-spacing: 0.1em;
color: #e4e7eb;
background-image: url(../img/icon/bot_foot_line.png);
background-repeat: no-repeat;
background-position: 0 bottom;
}
.bottom__box_3 a{
	height: 16px;
font-family: Roboto;
font-size: 16px;
line-height: 1.2;
font-weight: 500;
letter-spacing: 0.1em;
color: #e4e7eb;
text-decoration: none;
}


.bottom__box_4 {
	width: 179px;
	height: 192px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.bottom__box_4 span{
	    height: 29px;
font-family: Roboto;
padding-bottom: 10px;
font-size: 16px;
line-height: 1.2;
font-weight: 500;
letter-spacing: 0.1em;
color: #e4e7eb;
background-image: url(../img/icon/bot_foot_line.png);
background-repeat: no-repeat;
background-position: 0 bottom;
}

.bottom__box_4 a{
	height: 19px;
font-family: Roboto;
font-size: 15px;
line-height: 1.2;
font-weight: 400;
letter-spacing: 0.1em;
color: #8194a3;
text-decoration: none;
padding-left: 30px;
	background-repeat: no-repeat;
background-position: 0 center;
background-size: contain;
}
.mail {
	background-image: url(../img/icon/mail.png);


}
.tel {
		background-image: url(../img/icon/phone.png);

}

@media screen and  (max-width: 1324px){

.container__info{
	width: 773px;
	justify-content: space-evenly;
}
.info__span {
    padding: 0 32px;
}
.info_p {
    padding: 0px 54px 46px;
    }
    .item__bottom_box {
    width: 100%;
    justify-content: space-evenly;
}


.carusel {
max-width: 830px;
    justify-content: space-around;
}
.carusel__second-box {
    order: 1;
}
.example__span {
    padding: 0px 54px 46px;
}
.graph {
    width: 100%;
    flex-wrap: wrap;
}
.about__h2 {
    width: 100%;
}




}


@media screen and  (max-width: 893px){
	.item__bottom_box {
    flex-flow: column;
    justify-content: space-evenly;
            width: 376px;
    }
    .container__info{
    	   width: 376px;
    	}
    .annotation__h1 {
    padding-bottom: 60px;
    font-size: 50px;
}
.annotation__span {
    font-size: 19px;
    }

}